@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using System.Collections.Generic;

@model TP_PNT1_ORT.Models.Grupo;

<h1>Grupo</h1>
<h4>Eliminar</h4>

<form id="grupo" method="POST" action="">
    
  <div class="form-group">
    
      <label>Id Grupo</label>
    <input type="text" class="form-control" name="idGrupo" value="@Model.idGrupo"  placeholder="idGrupo" readonly>

  </div>

  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" name="nombre" value="@Model.nombre"  placeholder="Nombre" readonly>
  </div>

  <div class="form-group">
    <label >Descripción</label>
    <input type="text" class="form-control" name="descripcion" value="@Model.descripcion" placeholder="Descripción" readonly>
  </div>

  <table id="usuarios" class="table table-striped table-bordered" style="width:100%;"> 
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody >
        @for(var i = 0; i < @Model.UsuariosGrupos.Count; i++){
            <tr>
                <td>
                    @Html.DisplayFor(x=> x.UsuariosGrupos[i].usuario.nombre)
                </td>
                <td>
                    @Html.DisplayFor(x=> x.UsuariosGrupos[i].usuario.apellido)
                </td>
                <td>
                    @Html.DisplayFor(x=> x.UsuariosGrupos[i].email)
                </td>
            </tr>
        }
    </tbody>

</table>

  <button type="submit" class="btn btn-danger"  onclick="Delete" >Eliminar</button>

</form>