@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model IList<Partido>

<h1>Partidos</h1>
<h4>Ver</h4>

@{
    int i = 0;
    string grupo = Model[i].grupo;
    int fecha = Model[i].numeroDeFecha;
}


<br />
<br />

<div class="container">



<div class="row">


    @while( i < Model.Count )
    {   
        //agrupamos por grupo
        grupo = Model[i].grupo;
        @*<p>Grupo @Model[i].grupo</p>*@

        <div class="col-md-6 col-12">


         <div class="card  mb-3 ">
                <div class="card-header" style="text-align:center"> Grupo @Model[i].grupo </div>
                <div class="card-body text-primary">

    
        @while (i < Model.Count && grupo.Equals(Model[i].grupo) )
        {
            fecha = Model[i].numeroDeFecha;    
            @*<p>Fecha @Model[i].numeroDeFecha</p>*@

            //agrupamos por numero fecha
            <div class="card  mb-3">
                <div class="card-header" style="text-align:center"> Fecha @Model[i].numeroDeFecha </div>
                <div class="card-body text-primary">

            
        
            @while (i < Model.Count && grupo.Equals(Model[i].grupo) && fecha == Model[i].numeroDeFecha)
            {
                @*<p>@Model[i].equipo1</p>
                <p>@Model[i].equipo2</p>*@

                <div class="card  mb-3">
                <div class="card-header" style="text-align:center"> @Model[i].fecha </div>
                <div class="card-body text-primary">
                    <form>
                        <div class="container">
                            <div class="row flex-nowrap">
                                <div class="col-3 align-content-center">

                                    <div style="margin: 0 auto;width:40px; height:40px;text-align:center;border:2px solid black; border-radius:30px; overflow:hidden">
                                        <img src=@String.Concat("../../img/", @Model[i].equipo1, ".jpg" ) style="width:100%; height:100%;" />
                                    </div>
                                    <br />
                                    <h6 style="text-align: center;">@Model[i].equipo1</h6>    
                                </div>
                                <div class="col-3 align-content-center">
                                    <input class="form-control" type="text" value="@Model[i].golesEquipo1" maxlength="2" style="margin:0 auto;max-width:35px;text-align:center;" readonly/>
                                </div>
                                <div class="col-3 align-content-center">
                                    <input class="form-control" type="text" value="@Model[i].golesEquipo2" maxlength="2" style="margin:0 auto;max-width:35px;text-align:center;" readonly/>
                                </div>
                                <div class="col-3 align-content-center">

                                    <div style="margin: 0 auto;width:40px; height:40px;text-align:center;border:2px solid black; border-radius:30px; overflow:hidden">
                                        <img src=@String.Concat("../../img/", @Model[i].equipo2, ".jpg" ) style="width:100%; height:100%;" />
                                    </div>

                                     <br />

                                    <h6 style="text-align: center;">@Model[i].equipo2</h6>   
                                </div>
                
                            </div>
                        </div>
        
                    </form>
                </div>
            </div>





                i++;

            }

                </div>
            </div>

        }

          </div>
            </div>


        </div>

    }

</div>

</div>